.game {
    width: 720px;
    min-height: 430px;
    margin: 0 auto;
    background: violet;
    border: 15px solid rgb(135, 37, 135);
    text-align: center;
}

.btn {
    margin-right: 7px;
    padding: 10px 20px;
    background: grey;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
}

.btn:hover {
    background: black;
}

.game h3 {
    padding: 10px;
    background: grey;
    margin: 0;
    color: white;
}

.game .game-body {
    padding: 20px;
}

.game .game-options {
    text-align: center;
}

.game .card {
    width: 50px;
    height: 90px;
    padding: 10px;
    background-color: white;
    border: 5px solid grey;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    font-size: 1.3rem;
    margin: 3px;
}

.game .status {
    display: inline-block;
    background: thistle;
    border: 5px solid white;
    border-radius: 10px;
    padding: 5px 20px;
    margin: 0 auto;
    margin-top: 10px;
    display: none;
}

.players {
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    
}

.players .player {
    width: 40%;
    border: 5px solid #f5f5f5;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    margin: 1%;
    vertical-align: middle;
}

.players .player.active {
    border: 5px solid #08165c;
}

.points {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px;
}

.deck {
    float: left;
    background: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
    border: 5px ridge rgb(135, 37, 135);
}

